<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.pdx.oss.asthmacontrol" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="Main Menu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewLogActivity"
            android:label="New Log" >
        </activity>
        <activity
            android:name=".UpdateLogMenu"
            android:label="Show / Update Sub-Menu" >
        </activity>
        <activity
            android:name=".UpdateAsthmaTimeActivity"
            android:label="Show / Update date(s)" >
        </activity>
        <activity
            android:name=".UpdateAsthmaBreathActivity"
            android:label="Show / Update date(s)" >
        </activity>
        <activity
            android:name=".UpdateAsthmaSymptomsActivity"
            android:label="Show / Update date(s)" >
        </activity>
        <activity
            android:name=".UpdateAsthmaMedicationActivity"
            android:label="Show / Update date(s)" >
        </activity>
        <activity
            android:name=".ScoreActivity"
            android:label="Asthma Score" >
        </activity>
    </application>

</manifest>
